{% extends "base.html" %}

{% block content %}
<!-- button to launch modal -->
<button class="btn btn-primary btn-lg" type="button" data-toggle="modal" data-target="#modal-form-add-gcm-app" data-backdrop="static"><span class="glyphicon glyphicon-plus"></span> 建立 GCM App 設定檔</button>

<!-- modal form -->
<div class="modal fade" id="modal-form-add-gcm-app" role="dialog" aria-hidden="true" aria-labelledby="model-form-add-gcm-app-title">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form" id="form-add-gcm-app" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="modal-form-add-gcm-app-title">GCM App 設定</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="input-app-display-name" class="col-sm-3 control-label">App名稱</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="name" id="input-app-display-name" placeholder="顯示用途名稱，建立後將會列在左邊的清單中" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-app-package-name" class="col-sm-3 control-label">Apk套件名稱</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="package" id="input-app-package-name" placeholder="Apk套件名稱。AndroidManifest.xml中的package名稱" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-app-sender-id" class="col-sm-3 control-label">Sender ID (optional)</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="sender" id="input-app-sender-id" placeholder="Google Developers Console所建立的專案編號"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-app-api-key" class="col-sm-3 control-label">API金鑰</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="key" id="input-app-api-key" placeholder="Google Developers Console中為本網站建立的公開API存取金鑰" required/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">建立</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="chart1" style="width: 100%; height: 400px;"></div>
{% endblock %}

{% block mediaJS %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var chart_json = '{{ chart_json | safe }}';
        var data = new google.visualization.DataTable(chart_json, 0.6);

        var options = {
            title: '最近30日各GCM APP註冊裝置數量'
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart1'));

        chart.draw(data, options);
      }
</script>
{% endblock %}