{% extends "base.html" %}

{% block content %}
<div class="modal fade" id="modal-form-send-message-to-all" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="form-send-all-title">GCM message</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="input-collapse-key" class="col-sm-3 control-label">Collapse Key</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="collapse_key" id="input-collapse-key" placeholder="Any string. ex: Update available"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Delay while idle</label>
                        <div class="col-sm-9">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default active">
                                    <input type="radio" name="delay_while_idle" value="none" autocomplete="off" checked />Unspecified
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="delay_while_idle" value="true" autocomplete="off" />True
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="delay_while_idle" value="false" autocomplete="off" />False
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-time-to-live" class="col-sm-3 control-label">Time to live</label>
                        <div class="col-sm-9">
                            <input type="number" max="2419200" min="0" class="form-control" name="time_to_live" id="input-time-to-live" placeholder="range: [0, 2419200]"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-data" class="col-sm-3 control-label">Data</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" rows="10" name="data" id="input-data" placeholder='Data should be in json object format. ex:
{
  "key1": "string_value",
  "key2": numeric_value,
  "key3": [
    "list1",
    "list2",
    "list3"
  ]
}'></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="pull-left">
                        <label class="control-label">Dry run</label>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default">
                                <input type="radio" name="dry_run" value="true" autocomplete="off" />True
                            </label>
                            <label class="btn btn-default active">
                                <input type="radio" name="dry_run" value="false" autocomplete="off" checked/>False
                            </label>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">App Configuration</h3></div>
            <table class="table">
                <tbody>
                    <tr>
                        <td><b>套件名稱</b></td>
                        <td>{{ package_name }}</td>
                    </tr>
                    <tr>
                        <td><b>Sender ID</b></td>
                        <td>{{ sender_id }}</td>
                    </tr>
                    <tr>
                        <td><b>API金鑰</b></td>
                        <td>{{ api_key }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading"><h3 class="panel-title">GCM Action</h3></div>
            <div class="panel-body"><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-form-send-message-to-all" data-backdrop="static"><span class="glyphicon glyphicon-cloud"></span> Send message to all devices</button></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading"><h4 class="panel-title">已註冊裝置數</h4></div>
            <div class="panel-body">{% if device_count %}{{ device_count['registered'] }}{% else %}0{% endif %}</div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading"><h4 class="panel-title">已解除註冊裝置數</h4></div>
            <div class="panel-body">{% if device_count %}{{ device_count['unregistered'] }}{% else %}0{% endif %}</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Device UUID</th>
                    <th>Registration Timestamp</th>
                    <th>Registration Id</th>
                </tr>
            </thead>
            <tbody>
            {% for device in devices %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ device.uuid }}</td>
                    <td>{{ device.timestamp }}</td>
                    <td>{{ device.registration_id }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}